<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
{% include head.html %}

<body class="has-push-menu">
    {% include svg-icons.html %}
    {% include header.html %}
    <section class="post">
        <article role="article" class="post-content">
            <h1 class="post-main-title">{{ page.title }}</h1>
            <p class="post-main-subtitle">A full list of special holiday episodes</p>

            <div class="two-columns">
                <img class="post-cover" src="{{ page.image }}">
                <div class="main-info">
                    <h2 class="post-title">{{ page.title }}</h2>
                    <p class="post-subtitle">{{ page.seasons }} seasons, {{page.years}}</p>
                    <div class="tag-container">
                        {% for tag in page.tags %}

                        <span class="tag">
                              <a href="{{ site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
                        </span>
                        {% endfor %}
                    </div>
                    {% if page.streamings %}
                    <h3>Where to Watch</h3>
                    {% endif %}

                    {% if page.video %}
                    <iframe width="560" height="315" src="{{ page.video }}" title="{{page.title}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    {% endif %}


                </div>
            </div>

            <p class="description">{{ page.description }}</p>
            <p>{{ page.e_count }}</p>

            <!-- {% include rating.html %} -->

            {% assign hollidays = "Christmas,Thanksgiving,Halloween,St. Valentine's Day,New Year" | split: "," %}
            {% for holiday in hollidays %}
                {% assign episodes_present = false %}
                {% for episode in site.data.episodes %}
                    {% assign series = episode.Series | strip %}
                    {% if episode.Holiday == holiday and series == page.title %}
                     {% assign episodes_present = true %}
                    {% endif %}
                {% endfor %}

                {% if episodes_present %}
                    <h3>
                        {{holiday}} episodes:
                    </h3>
                    <div class="episodes-list">
                        {% for episode in site.data.episodes %}
                           {% assign series = episode.Series | strip %}
                            {% if episode.Holiday == holiday and series == page.title %}
                                <div class="episode-card">
                                    {% if episode.Cover %}
                                        <img src="{{ episode.Cover }}"></img>
                                    {% else %}
                                        <img src="https://res.cloudinary.com/special-e/image/upload/Site%20assets/episode_placeholder.png"></img>
                                    {% endif %}
                                    <p>Season {{ episode.Season}}, Episode {{ episode.Episode}}</p>
                                    <p class="card-name">{{ episode.Name}}</p>
                                    <p>{{ episode.Description}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}


            <div class="see-also">
                <h2>{{ site.translations.text.see_also | default: "See also" }}</h2>
                <div class="episodes-list">
                    {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" |
                    where_exp:"post","post.path != page.path" %}
                    {% assign shuffled_array = next_posts | shuffle %}
                    {% for post in shuffled_array limit:3 %}
                    <div class="episode-card">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            {% if post.optimized_image %}
                            <img src="{{ post.optimized_image }}">
                            {% elsif post.image %}
                            <img src="{{ post.image }}">
                            {% else %}
                            <img src="/assets/img/off.jpg">
                            {% endif %}
                            <h3>{{ post.title }}</h3>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </article>

    </section>

    {% include subscription.html %}
    <!-- {% include share.html %} -->
    {% include footer.html %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "name": "{{ page.title }}",
            "headline": "{{ page.subtitle }}",
            "description": "{{ page.description }}",
            "image": "{{ page.image }}",
            "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
            "articleBody": "{{ content | strip_html | xml_escape | textilize }}",
            "wordcount": "{{ content | number_of_words }}",
            "inLanguage": "{{ site.language }}",
            "dateCreated": "{{ page.date | date: '%Y-%m-%d/' }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d/' }}",
            "dateModified": "{{ page.date | date: '%Y-%m-%d/' }}",
            "author": {
                "@type": "Person",
                "name": "{{ author.display_name }}",
                {% if author.photo %}
                "image": "{{ author.photo }}",
                {% else %}
                "image": {{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }},
                {% endif %}
                "jobTitle": "{{ author.position }}",
                "url": "{{ author.url | prepend: site.baseurl | prepend: site.url }}",
                "sameAs": [
                    {{ author_urls | split: "," | join: "," }}
                ]
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}",
                "url": "{{ site.url }}{{site.baseurl}}/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{site.image}}",
                    "width": "600",
                    "height": "315"
                }
            },
            "mainEntityOfPage": "True",
            "genre": "{{ page.category }}",
            "articleSection": "{{ page.category }}",
            "keywords": [{{ page.tags | join: '","' | append: '"' | prepend: '"' }}]
        }
        </script>
</body>

</html>